---
layout: post.njk
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---

<link rel="stylesheet" href="/css/post.css"/>
{% for post in posts %}
  <ul>
    <li>
      <h2>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h2>
    </li>
    {# {{ post.date }} #}
  </ul>
{% endfor %}